<div class="row ">
  <div class="col-3">
    <div class="title">My First Application</div>
  </div>
  <div class="col-3"></div>
  <div class="col-3"></div>
  <div class="col-1"><div class="about">About</div></div>

  <div class="col-1"><div class="contact">Contact</div></div>
  <div class="col-1"></div>
</div>


<div class="mat-elevation-z8 logincard ">
   <span class="mx-4">Login</span>
   <div class="mx-3 w-50">
      <mat-form-field>
          <input matInput placeholder="Username*">
        </mat-form-field>
   </div>
   <div class="mx-3 w-50">
        <mat-form-field>
            <input matInput placeholder="Password*">
          </mat-form-field>
        </div>
 
  <div>
  <button mat-raised-button class="mx-2 login-button" >Login</button>
</div>

</div>
