<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">My First App</a>
  <div>
    <a class="navbar-brand">About</a>
    <a class="navbar-brand">Contact</a>
    <a class="navbar-brand">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
  </div>
</nav>

<mat-card class="cardStyles">Login
  <mat-card-content>
    <div class="mx-3">
      <mat-form-field class="w-50">
        <input matInput placeholder="Username*">
      </mat-form-field>
    </div>
    <div class="mx-3">
      <mat-form-field class="w-50">
        <input matInput placeholder="Password*">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="mx-2 login-button">Login</button>
  </mat-card-actions>
</mat-card>